body.page-find .filters,body.page-find .tabs,body.page-find .toolbar,body.page-find .breadcrumb
	{
	display: none;
}

body.page-find .results {
	width: 100%;
	float: none;
}

body.page-find .results .table {
	width: 100%;
	height: auto;
	overflow: auto;
	border: 0;
}

body.page-find a {
	color: #000 !important;
}