body.page-find .filters {
	width: 200px;
	float: left;
	margin-right: 25px;
	padding-right: 20px;
	border-right: 1px solid #eee;
}

body.page-find .filters .newsearch {
	color: #AAA;
	padding-left: 5px;
}

body.page-find .filters h6.filter {
	margin-top: 10px;
}

body.page-find .filters input.text {
	width: 138px;
	padding: 3px 4px;
	border: 1px solid #AAA;
	border-color: #888 #CCC #CCC #888;
	outline: none;
}

body.page-find .filters p.query {
	margin-top: 0.1em;
}

body.page-find .filters p.submit {
	padding-bottom: 5px;
}

body.page-find .filters input.submit {
	font-size: 1.3em;
	margin: 0;
}

body.page-find .filters input:focus {
	border-color: #256485 #8da9b8 #8da9b8 #256485;
}

body.page-find .filters input.search {
	padding: 3px 8px;
	width: 182px;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

body.page-find .filters label {
	font-weight: normal;
	display: inline-block;
	width: 48px;
}

body.page-find .filters label.search {
	width: 80px;
}

body.page-find .filters .filter-selector { /*width: 100%;*/
	
}

body.page-find .filters .filter-container {
	display: none;
}

body.page-find .filters .filter-container.active {
	display: block;
}

body.page-find .filters ul.choices,body.page-find .filters .fieldset {
	margin: 0.5em 0 1em;
	max-height: 200px;
	overflow: auto;
	border: 1px solid #eee;
	border-width: 1px 0 1px 0;
}

body.page-find .filters ul.choices {
	list-style: none;
	padding: 0;
}

body.page-find .filters ul.choices li.active {
	font-weight: bold;
}

body.page-find .filters ul.choices span {
	cursor: pointer;
	width: 80%;
	display: inline-block;
	vertical-align: top;
}

body.page-find .filters ul.choices input.checkbox {
	width: auto;
}

body.page-find .filters .clear {
	float: right;
	font-size: 1.3em;
	line-height: 12px;
	color: #860d0d;
	padding: 0 3px;
}

body.page-find .results {
	width: 760px;
	float: left;
}

body.page-find .tabs {
	height: 32px;
	list-style-type: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
	padding-left: 3px;
}

body.page-find .tabs li {
	display: block;
	margin: 0;
	padding: 6px 16px;
	float: left;
}

body.page-find .tabs li.active {
	display: block;
	margin: 0;
	padding: 6px 15px;
	height: 20px;
	float: left;
	border: 1px solid #ccc;
	border-bottom: 0;
	background-color: #fff;
}

body.page-find .toolbar {
	height: 1.5em;
	position: relative;
}

body.page-find .toolbar .left {
	float: left;
}

body.page-find .toolbar .right {
	float: right;
}

body.page-find .toolbar .right a {
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 18px;
}

body.page-find .toolbar .soft {
	color: #AAA;
}

body.page-find .columns-overlay {
	background-color: white;
	border: 1px solid #777;
	padding: 10px 15px 0 10px;
	position: absolute;
	right: 0;
	top: 28px;
	-moz-box-shadow: 0 5px 10px #999;
	box-shadow: 0 5px 10px #999;
	line-height: 1.9em;
	display: none;
}

body.page-find .columns-overlay ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 180px;
}

body.page-find .columns-overlay label {
	cursor: move;
	background-image: url("../../inventory/images/sort.gif");
	background-repeat: no-repeat;
	background-position: center right;
	display: block;
}

body.page-find .results .table {
	width: 100%;
	height: 450px;
	overflow: auto;
	border: 1px solid #ddd;
}

body.page-find .results table {
	white-space: nowrap;
	margin: 0;
}

body.page-find .results table th {
	background-color: #eee;
	padding: 0.6em 0.5em 0.5em;
	border-bottom: 1px solid #ddd;
}

body.page-find .results table td {
	padding: 0.6em 0.5em 0.5em;
	border-bottom: 1px solid #eee;
}

body.page-find .images {
	list-style: none;
}

body.page-find .images li {
	padding: 20px 40px 20px 0;
	margin: 0;
	float: left;
	width: 188px;
	height: 180px;
}

body.page-find .map-select {
	cursor: pointer;
}

body.page-find .map-overlay {
	position: fixed;
	top: 50%;
	left: -9000px;
	margin-top: -280px;
	margin-left: -400px;
	border: 4px solid #fff;
	-moz-box-shadow: 0 0 500px #666;
	box-shadow: 0 0 500px #444;
	z-index: 999;
}

body.page-find #map-canvas {
	width: 1000px;
	height: 600px;
}

body.page-find .map-overlay .map-close {
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
}

body.page-find .map-overlay .map-apply {
	font-size: 1.3em;
	font-family: Helvetica, Arial, sans-serif;
	background-color: white;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),
		to(#F3F3F3) );
	background: -moz-linear-gradient(#FEFEFE, #F3F3F3);
	color: #000;
	padding: 3px 7px 2px 7px;
	border: 1px solid #A9BBDF;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px
}

body.page-find .map-overlay .map-apply:hover {
	border-color: #678AC7;
}

div#search_container {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-image: url("../../area/images/search.png");
	background-size: 308px 31px;
	border: none;
	height: 31px;
	width: 308px;
	margin: 5px;
}

input#search_input {
	background-color: transparent;
	border: 0 none;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 0.9em;
	height: 28px;
	margin: 0 5px 0 5px;
	padding: 2px 10px 0 20px;
	width: 268px;
}

div.pac-container {
	z-index: 2000 !important;
}