.progress_block {
	border:0px solid;
	border-color:black;
	overflow:auto;
}

.progress_elem_cont {

	float:left;	
}

.progress_elem {
	border:0px solid;
	padding:3px;
	margin:1px;
}

.progress_elem.done {
	background-color:#58c3ec;
}

.progress_elem.active {
	background-color:#2e99c2;
}

.progress_elem.pending {
	background-color:#f0f0ef;
	border-color:#767676;;
	color:#767676;
}