.project
.buildpath
.settings/
.*.swp
settings.php
test.php
webroot_drupal/sites/default/settings.php-mac
various/migrate/config/databases.php
webroot_drupal/sites/all/modules/organism/old
doc/module/organism/organism_erdiagram.png
various/migrate/import_crsf_basedata-test.php
*~
.DS_Store
external/drupal/themes/
webroot_drupal/sites/all/themes/zen/
.htaccess
webroot_drupal/sites/all/modules/date/
IPhone_DB_.sql
various/iphone_dbdump/config/database.php
*.csv#
webroot_drupal/sites/all/modules/potx/
webroot_drupal/sites/default/files/simpletest/

webroot_drupal/sites/default/files/witzig/trust_you.css
