/**
 * @file
 * Block Styling
 */

.block /* Block wrapper */ {
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

.region-content .block.first .content /* changed with jquery */{
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
  border: 1px solid red;
  background-color:white;
  color: #dc3806;
  margin-left: 5px;
  margin-right: 5px;
  /*position: relative;
  right: 10px;*/
}
#block-system-management a:link,
#block-system-management a:visited {
  color: #e65016;
}

#block-menu-devel /* "Development" block for devel menu */ {
  border: 1px solid red;
  background-color:white;
  color: #dc3806;
  margin-left: 5px;
  margin-right: 5px;
  /*position: relative;
  right: 10px;*/
}
#block-menu-devel a:link,
#block-menu-devel a:visited {
  color: #e65016;
}
#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}
#block-system-navigation a:link,
#block-system-navigation a:visited {
}



#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}
#block-system-user-menu a:link,
#block-system-user-menu a:visited {
}

#block-system-help /* "System help" block */ {
}
#block-menu-menu-hilfe a:link,
#block-menu-menu-hilfe a:visited {
  color: #B77C5C;
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ { 
  color:white;
  padding: 10px 0 0 10px;
}

#block-user-login a {
  color:white;  
}

#block-user-login ul {
  list-style: none;  
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

#block-commerce-cart-cart {
  border-top: 1px solid #BBBBBB;
  color: #767676;
  text-align: center;
}
#block-commerce-cart-cart h2 {
  margin-top: 1em;
}
/*.region-footer div#block-block-3 /*footer block*/

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #f6f6f5;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #767676;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #ffffff;
}
#palette .item-selected {
  background: #fff url(../images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #f7f6ef;
}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {
  background-color: #fbfaf7;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(../images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f6f6f6;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #d9d7c4 url(../images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: center;
}

#user-login-form ul {
  text-align: left; /* LTR */
}
#user-login .openid-links {
  padding: 0;
}
#user-login-form .openid-links {
  padding-left: 0.5em; /* LTR */
}
#user-login-form .openid-links li.user-link {
  padding-left: 1em; /* LTR */
}
/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position Open/*
 * Search (search-block-form.tpl.php)
 */
}

#block-search-form /* Wrapper for the search form */ {
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: center;
}

#user-login-form ul {
  text-align: left; /* LTR */
}
#user-login .openid-links {
  padding: 0;
}
#user-login-form .openid-links {
  padding-left: 0.5em; /* LTR */
}
#user-login-form .openid-links li.user-link {
  padding-left: 1em; /* LTR */
}
/*ID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */

div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(../images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}

div.admin-panel h3 {
  margin-bottom: 0.75em;	
}

div.admin-panel dd {
  color: #767676;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #f6f5ed;
}

#autocomplete li.selected,
tr.selected td,
tr.selected td.active {
  background: #0c7a00;
  color: #ffffff;
}

tr.selected td a:link,
tr.selected td a:visited,
tr.selected td a:active {
  color: #d4e6d2;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #e1e1e1;
}

.theme-selector h3 {
  margin: 10px 0;
}
.theme-selector .operations li {
  list-style-image: none;
}
table.inventory_show {
	table-layout: fixed;
	width: 100%;	
}
table.inventory_show th  {
	width: 100px;	
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin: 1.5em 0 1em 0;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #767676;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #5a8c73;
  background: #fff url(../images/gradient-inner.png) repeat-x 0 0;
}

.fieldset-legend {
}
.fieldset-legend a.fieldset-title {
  background-color: white;
  color: #35681A;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}
*:first-child+html .text-format-wrapper .filter-wrapper {
  padding: 1.5em 0 1.5em;
  background-position: 0 0;
}

/* Keep the background position at 0 for filters and vertical tabs. */
*:first-child+html fieldset.filter-wrapper,
*:first-child+html fieldset.vertical-tabs-pane {
  background-position: 0 0;
}

*:first-child+html fieldset .fieldset-wrapper .fieldset-description {
  padding-top: 1em;
}

html.js fieldset.collapsible {
  position:static;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible .fieldset-legend {
  padding-left: 2em; /* LTR */
  background: url(../images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}
html.js fieldset.collapsed .fieldset-legend {
  background: url(../images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

.fieldset-legend span.summary {
  color: #767676;
}
