SetEnv APPLICATION_ENV development

RewriteEngine On
# RewriteBase # --> do not delete! placeholder for ant build script!
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php