@CHARSET "UTF-8";

td.delete div {
	height: 16px;
	width: 16px;
	background-color: inherit;
	background-image: url(../images/delete.gif);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}