/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL.mysql.txt
/INSTALL.pgsql.txt
/INSTALL.sqlite.txt
/INSTALL.txt
/LICENSE.txt
/MAINTAINERS.txt
/README.txt
/UPGRADE.txt
/authorize.php
/cron.php
/includes/
/index.php
/install.php
/misc/
/modules/
/profiles/
/robots.txt
/scripts/
/sites/all/README.txt
/sites/all/libraries
/sites/all/modules/README.txt
/sites/all/modules/addressfield/
/sites/all/modules/commerce/
/sites/all/modules/commerce_paypal/
/sites/all/modules/ctools/
/sites/all/modules/devel/
/sites/all/modules/dhtml_menu/
/sites/all/modules/draggableviews/
/sites/all/modules/entity/
/sites/all/modules/menu_block/
/sites/all/modules/menu_expanded/
/sites/all/modules/menu_firstchild/
/sites/all/modules/nice_menus/
/sites/all/modules/oauth/
/sites/all/modules/restws/
/sites/all/modules/rules/
/sites/all/modules/services/
/sites/all/modules/site_map/
/sites/all/modules/terms_of_use/
/sites/all/modules/views/
/sites/all/modules/wysiwyg/
/sites/all/themes/README.txt
/sites/default/default.settings.php
/sites/default/files/languages/
/sites/default/settings.php
/sites/example.sites.php
/themes/
/update.php
/web.config
/xmlrpc.php
/test.html
/test2.html
