/* Block new Observations */
.new_observations_container {
	height:100%;
    float:left;
    overflow:hidden;
    max-width:235px;
}

#block_newest_observation_img {
	max-height:165px;
}

.block_newest_observation_img_caption {
	display:none;
}
#loadingImage {
	
}

.imageSliderNavigation {
	cursor: pointer;
	width: 100%;
}

.imageSliderImage {
	width: 190px;
	height: 150px;
	position: relative;
	cursor: pointer;
}

#showLoadingImage {
	display:none;
	width: 190px;
	height: 150px;
	position:absolute;
	z-index: 1;
	display:none;
}