.observation_td{
	font-size: 11px;
	background-color: #F6F5F3;
	padding: 5px;
	-moz-border-radius: 10px !important;
}
.observation_title{
	font-size: 14px;
	font-weight: bold;
}

.form-submit {
    background-color: #659560;
    border: 1px solid #457540;
    border-radius: 5px 5px 5px 5px;
    bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2em;
    padding: 0.3em 1em;
    position: fixed;
    right: 10px;
    z-index: 5;
}

.loading{
	display: none;
	padding: 5px;
	overflow: visible;
	position: fixed;
}

.organismn_autocomplete {
	background-image: url('../img/search.gif');
	background-repeat: no-repeat;
	background-position: right;
	border-width: 1px;
	padding: 0.5em;
}
.searching {
	background-image: url('../img/searching.gif');
}
.notfound {
	background-image: url('../img/notfound.gif');
}