div.wikientry {
	border: 1px solid #F2F2F2;
	background-color: #F7F7F7;
	padding: 8px;
}

div.thumb {
	border: 1px solid #DEDEDE;
	float: right;
	clear: right;
	margin: 0 0 1em 1em;
	padding: 3px;
	padding-left: 5px;
	padding-top: 5px;
}

#organism-synonyms-scientific {
	float: left;
	width: 45%;
	h
}

#organism-synonyms-localized {
	float: right;
	width: 45%;
}

#organism-attributes {
	clear: both;
}