div.datatable_gallery {
	display: none; 
	padding-left:5px;
}

div.datatable_gallery_info {
	position: relative;
	width: 220px;
	line-height: 15px;
}

.datatable_gallery_icons {
	position: absolute; 
	right: 0px;
}

div.datatable_gallery_image_container {
	width: 220px; 
	height: 186px;
	overflow: hidden;
	margin-bottom: 15px;
}

.datatable_gallery_image_container img{
	max-height: 186px;
}

div.datatable_gallery_no_image {
	background: #DEDCDA; 
	margin-bottom: 15px; 
	width: 220px; 
	height: 186px;
}

div.datatable_gallery_no_image_info {
	position: relative; 
	top: 20%;
	height: auto;
}

img.datatable_gallery_no_image {
	padding-bottom: 10px;
}

span.datatable_gallery_imgsource {
	position:absolute; 
	right: 15px; 
	display:none;
}

span.datatable_gallery_image_type {
	background-color: #659560;
	color: #FFFFFF;
	position: absolute;
	bottom: 15px;
	z-index: 1;
}

a.datatable_gallery_image_type{
	color: #FFFFFF !important;
}

td.datatable_gallery_row {
	padding-bottom: 30px;
}

input, select {
    border: 1px solid black;
    font-size: 12px;
}