#edit-areanewform .form-item,
#edit-areanewform #habitatSelected {
  width:400px;
  float:left;
  clear:left;
}

#edit-areanewform .form-item-comment {
  clear:none;
  float:right;
  width:550px;
}

.controlAreaChoose {
  height: 31px;
  width: 31px;
  background-image: url('../images/map_controls/hand.png');
  background-repeat: no-repeat;
}

.controlAreaChoose.selected {
  background-image: url('../images/map_controls/hand-selected.png');
}

.controlAreaCreate {
  height: 31px;
  width: 31px;
  background-image: url('../images/map_controls/polygon.png');
  background-repeat: no-repeat;
}

.controlAreaCreate.selected {
  background-image: url('../images/map_controls/polygon-selected.png');
}

.hidden {
  display: none;  
}

#area-google-maps-form {
  clear:both;
}

#map {
  clear:both;
  width: 100%;
  height: 600px;
}

.block ul.area-choices,
.block ul.area-choices li {
  margin:0;
  padding:0;
  list-style:none;
}

.block ul.area-choices {
  margin:1em 0;
}

.block ul.area-choices li {
  clear:both;
  line-height:31px;
  font-size:1.2em;
}

.block ul.area-choices li div {
  float:left;
  margin:0 1em 1em 0;
}

.area-search-map #map_search-element {
  float:left;
}

.area-search-map ul.area-choices {
  float:right;
  margin:0;
}

.area-search-map ul.area-choices li {
  text-align:right;
}

.area-search-map ul.area-choices li div {
  float:right;
  margin:0 0 0.2em 1em;
}

tr.even, tr.odd {
  cursor: pointer;
}

#map_search-element {
    margin-bottom: 10px;
}

#map_search-element div {
  line-height: 24px;
  float: left;
  margin-right: 5px;
}

/* Avoid line break in autocomplete address */
.ui-autocomplete {
    overflow-y: auto;
    width: 400px;
}
