.controlAreaChoose {
	height: 31px;
	width: 31px;
	background-image: url('../images/map_controls/hand.png');
	background-repeat: no-repeat;
}

.controlAreaChoose.selected {
	background-image: url('../images/map_controls/hand-selected.png');
}

.controlAreaCreate {
	height: 31px;
	width: 31px;
	background-image: url('../images/map_controls/polygon.png');
	background-repeat: no-repeat;
}

.controlAreaCreate.selected {
	background-image: url('../images/map_controls/polygon-selected.png');
}

.hidden {
	display: none;	
}

#map {
  width: 100%;
  height: 600px;
}

tr.even, tr.odd {
	cursor: pointer;
}