body,html,#content {
	height: 100%;
	width: 100%;
}

* {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
	width: 1200px;
}

/* header */
#headerBar {
	width: 100%;
	background-color: #343434;
	height: 125px;
}

#headerBar * {
	position: relative;
	top: 15px;
	left: 10px;
	color: #FFF;
	font-size: 30px;
	font-weight: bold;
}

/* top navigation */
#topnav li {
	padding: 0px;
	height: 100%;
	border-right: 2px solid #FFF;
	margin: 0px;
	float: left;
	width: 180px;
	list-style-type: none;
}

#topnav ul {
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
	height: 50px;
	background-color: #343434;
}

#topnav a {
	position: relative;
	width: 170px;
	height: 45px;
	top: 5px;
	left: 10px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	display: blocK;
}

#subnav ul {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #CDCDCD;
	list-style-type: none;
	float: left;
}

#subnav li {
	float: left;
	position: relative;
	margin: 0px;
	padding: 5px 60px 5px 20px;
}

#subnav a {
	text-decoration: none;
	color: #999;
	font-weight: bold;
}

#subnav .active * {
	color: #666;
}

/* end top navigation */ /* End header */ /* dl as table */
dl {
	display: block;
}

dt {
	clear: left;
	display: block;
	float: left;
	width: 145px;
}

dd {
	clear: right;
	display: block;
	white-space: nowrap;
	width: 450px;
	margin-top: 2px;
}

dd input,dd select,dd textarea {
	width: 100%;
}

/* end dl as table */
#content {
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: block;
	float: none;
}

form input,form select,form textarea,button {
	margin: 0;
	border: 1px solid #A0A2A0;
	font-size: 1em;
	display: inline;
}

/* message infos */
.message-box {
	text-align: center;
	padding: 5px;
	color: #545454;
	width: 80%;
	margin: 5px auto;
	font-size: 12px;
}

.clean {
	background-color: #efefef;
	border-top: 2px solid #dedede;
	border-bottom: 2px solid #dedede;
}

.info {
	background-color: #f7fafd;
	border-top: 2px solid #b5d3ff;
	border-bottom: 2px solid #b5d3ff;
}

.ok {
	background-color: #d7f7c4;
	border-top: 2px solid #82cb2f;
	border-bottom: 2px solid #82cb2f;
}

.alert {
	background-color: #fef5be;
	border-top: 2px solid #fdd425;
	border-bottom: 2px solid #fdd425;
}

.error {
	background-color: #ffcdd1;
	border-top: 2px solid #e10c0c;
	border-bottom: 2px solid #e10c0c;
}

/* autocomplete term match*/
.ui-term-match {
  font-weight: bold;
  color:#7777CC;
}

input[disabled=""]{
	background-color: #F0F0F0;
}


/*
 *  jquery
 */
/* Component containers
----------------------------------*/
.ui-widget { font-family: Segoe UI, Arial, sans-serif; font-size: 0.8em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Segoe UI, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #666666; background: #000000 url(images/ui-bg_inset-soft_25_000000_1x100.png) 50% bottom repeat-x; color: #ffffff; }
.ui-widget-content a { color: #ffffff; }
.ui-widget-header { border: 1px solid #333333; background: #333333 url(images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #666666; background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eeeeee; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #eeeeee; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #666666; background: #999999 url(images/ui-bg_glass_40_999999_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ffaf0f; background: #999999 url(images/ui-bg_inset-soft_30_999999_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #cccccc; background: #eeeeee url(images/ui-bg_highlight-soft_80_eeeeee_1x100.png) 50% top repeat-x; color: #2e7db2; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #2e7db2; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #ffb73d; background: #ffc73d url(images/ui-bg_glass_40_ffc73d_1x400.png) 50% 50% repeat-x; color: #111111; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #111111; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #111111; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/*
 * jQuery UI Autocomplete 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { 
  position: absolute; 
  cursor: default; 
  max-height: 208px;
  overflow-y: auto
} 

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/* end message infos */