#map {
	width: 100%;
	height: 600px;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

#map_search-element input,#area_table_filter input {
	width: 68%;
}

#area-details {
	width: 450px;
	float: left;
}

#area-details .fieldset-wrapper {
	min-height: 500px;
}

#area-map {
	width: 500px;
	float: right;
}

#area-map #map {
	height: 500px;
}

#area-map img {
	display: block;
}

#area-inventories {
	clear: both;
}

#area-files {
	clear: both;
}

#area-habitats {
	clear: both;
}

#area-concept {
	clear: both;
}

th {
	width: 130px;
}

#area-description {
	clear: both;
}

#edit-actions input,#edit-actions-new input {
	z-index: 5;
	position: fixed;
	bottom: 20px;
	right: 10px;
	font-size: 2em;
	background-color: #659560;
	color: #fff;
	padding: 0.3em 1em;
	border: 1px solid #457540;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#edit-areanewform #edit-actions-new {
	display: none;
}