#map {
	width: 100%;
}

#map_canvas {
	height: 600px;
}

#search_container,#search_input {
	width: 300px;
}

#search_container {
	margin-top: 5px;
}

#searchch1903_input {
	width: 200px;
}

#searchch1903_container {
	margin-top: 5px;
	width: 250px;
}