#map {
	width: 100%;
}

#map_canvas {
	height: 600px;
}

#search_container,#search_input {
	width: 300px;
}

#search_container {
	margin-top: 5px;
}

#searchch1903_input {
	width: 200px;
}

#searchch1903_container {
	margin-top: 5px;
	width: 250px;
}

#area-overview-form {
	margin: 0em;
	font-size: 0.75em;
}

#infowindow_tabular_data {
	font-size: 11px;
	margin: 0em;
	margin-bottom: 0.3em;
	padding: 0;
}

#infowindow_tabular_data th,#infowindow_tabular_data td {
	overflow: hidden;
	padding: 0px;
	padding-left: 0.5em;
	white-space: nowrap;
	max-width: 200px;
	text-overflow: ellipsis;
}