#area-show-details {
	float: left;
	width: 500px;
}

#area-show-map {
	float: right;
}

#area-show-comment {
	clear: both;
}

#area-edit-details {
	float: left;
	width: 500px;
}

#area-edit-map {
	float: right;
}

#area-edit-comment {
	clear: both;
}