/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

/* 
 * Link styles
 */


/*
 * Body
 */
body {
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#page {
}

/*
 * Header
 */
#header {
  /*size determined in page-background.css*/
  position:relative;
}

#header .section {
}

.region-header {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}


#main {
}

#logo-wrapper {
  
}	

#logo-wrapper-left {
	width: 227px;
	float: left; 	
}

#logo-wrapper-right {
 	float: left;
}

/*
 * Content
 */
#content {
  /* height equalized with sidebar's height in equalheights.js */
  position:relative;
}  

#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 1200px;
  margin-left: 0; /* LTR */
  margin-right: -1200px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 973px;
  margin-left: 227px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -1200px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 973px;
  margin-left: 0; /* LTR */
  margin-right: -973px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 880px;
  margin-left: 227px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -973px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  padding: 0px 15px 15px 15px;
}

/*
 * Maintenance Page
 */
#content .section-maintenance {
  color:#640c0c; /*dark red*/
  text-align:center;
  padding: 30px 30px 30px 30px
}
#maintenance-image {
  background-image: url("../images/under-construction.jpg");
  height:256px;
  width:256px;
  background-repeat:no-repeat;
  margin: 30px auto;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  padding: 0;
  position: absolute;
  top: 70px;
  left: 420px;
  z-index:1;
}

/* Space (between header and content) */
#space {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 0;/*1.5em; /* Set this to the same value as the margin-top below. */
}
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  /*margin-top: 3em; /* Set this to the same value as the navigation height above. */
  /*padding-top: 1.5em;*/
}

#navigation .section {
 /*margin:87px 0px 0px 310px; /* margin-right aligned with main contents h2.title */
}

#user-menu {
    float: right;
    margin: 2px 0 0 0;
}

.breadcrumb {
    left: 31px;
    position: absolute;
    top: 107px;
    font-size: 0.8em;
}

/*
 * First sidebar
 */
.region-sidebar-first {
  /* height equalized with contents's height in equalheights.js */
  min-height: 487px;
  float: left; /* LTR */
  width: 227px;
  margin-left: 0; /* LTR */
  margin-right: -227px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 0 0 7px; /* LTR */ /* margin-top should be the same as margin-top for #content .right-corner .left-corner */
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 140px;
  margin-left: 973px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -1200px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 10px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/


/* ------------------------------------------------------------------------------ */
dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img,
a img {
  border: none;
}

table {
  /*margin: 1em 0;*/
  width: 100%;
}

thead th {
  border-bottom: 2px solid #f6f5ed;
  color: #2d2d2d;
  font-weight: bold;
}

th a:link,
th a:visited {
  color: #788577;
}

td,
th {
  padding: .3em .5em;
  vertical-align:top;
}

tr.even,
tr.odd,
tbody th {
  border: solid #f6f5ed;
  border-width: 1px 0;
}

tr.odd,
tr.info {
  background-color: #f6f5f3;
}

tr.even {
  background-color: #ffffff;
}

tr.drag {
  background-color: #f6c7c7;
}

tr.drag-previous {
  background-color: #fbe4e4;
}

tr.odd td.active {
  background-color: #f7f6f1;
}

tr.even td.active {
  background-color: #f8f8f4;
}

td.region-title,
td.module,
td.container,
td.category {
  border-top: 1.5em solid #ffffff;
  border-bottom: 1px solid #f2f1e1;
  background-color: #f5f4ed;
  color: #303848;
  font-weight: bold;
}

tr:first-child td.region-title,
tr:first-child td.module,
tr:first-child td.container,
tr:first-child td.category {
  border-top-width: 0;
}

td img {
  vertical-align:middle;
}

/*
* Maintenance Page 
*/
#maintenance-page {
  /*margin: 30px 30px 30px 30px;	*/
}