/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  position:relative;
  margin: 0px 0 5px 0;
  padding-top: 5px;
}

ul.primary {
  margin: 0;
}

ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover,
ul.secondary li a:visited {
  background: transparent;
  height: auto;
  text-decoration: none;
}

ul.primary li a {
  background-color: #f9f8f3;
  color: #456153;
}
ul.primary li a:hover {
  background-color: #5a8c73;
  color: white;
}

ul.primary li.active a,
ul.secondary li.active a
ul.secondary li.active a:hover {
  font-weight: bold;
/*  color:#3D7967; */
  color: black;
  background-color: white;
}
ul.secondary a.active {
    border-bottom: 2px solid #773D1E;
}
/*-------------------------------------------------------*/
div.vertical-tabs {
  border-color: #d9eaf5;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 0.5em 1em;
}

div.vertical-tabs ul.vertical-tabs-list {
  border-color: #d9eaf5;
}

div.vertical-tabs ul.vertical-tabs-list li {
  background-color: #edf5fa;
  border-color: #d9eaf5;
}

div.vertical-tabs ul.vertical-tabs-list li strong {
  font-weight: normal;
}

div.vertical-tabs ul.vertical-tabs-list li.selected strong {
  font-weight: bold;
}

div.vertical-tabs ul.vertical-tabs-list li.selected small {
  color: #898989;
}

div.vertical-tabs ul.vertical-tabs-list li.selected {
  background: #fff repeat-x 0 0;
}

div.vertical-tabs ul.vertical-tabs-list li.selected.first {
  background-image: url(../images/gradient-inner.png);
}

div.vertical-tabs ul.vertical-tabs-list li.selected a strong {
  color: #494949;
}
