
@charset "UTF-8";
/* Overrides flexigrid.css */

#bubleinfo css
.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
}

div.filterDiv input {
	float: left;
}
div.filterDiv .form-item {
	float: right;
	margin: 0 0 0 20px;
}
div.filterDiv label {
	display: inline;
	font-weight: normal;
}
div.filterDiv select {
	background-color: #DEDCDA;
	color: #000000;
}

.flexigrid {
	font: inherit;
	border-left: 1px solid #DAE5E3;
	border-right: 1px solid #DAE5E3;
	overflow: visible;
}

.flexigrid div.nDiv table {
	width: auto;
}

.flexigrid div.hDivBox {
	background-color: #F2EFEF; 	
}

.flexigrid div.bDiv table {
	width: auto;
}

.flexigrid div.bDiv table.autoht {
	width: auto;
}

.flexigrid div.mDiv {
	background: none #DAE5E3;
	font-weight: normal;
	font-size: 1.27em;
	line-height: 1em;
	margin-left: 1px;
	margin-right: 1px;
}

.flexigrid div.mDiv div {
	float: left;
}

.flexigrid div.mDiv div.mButton {
	border: 0px;
	cursor: pointer;
	float: left;
	height: 22px;
	margin-top: 1px;
	overflow: hidden;
	padding: 0;
	width: 22px;
}

.flexigrid div.mDiv div.mButton:hover, .flexigrid div.mDiv  div.mButton.mBtnOver {
	border: 1px solid #ccc;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.flexigrid div.mDiv div.mButton span {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
}

.flexigrid div.mDiv div.mButton:hover span, .flexigrid div.mDiv div.mButton.mBtnOver span {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	height: 19px;
	width: 19px;
}

.flexigrid div.sDiv /*toolbar*/ {
	background: none #F5F5F5;
}

.flexigrid div.btnseparator {
	border-left: none;
	border-right: none;
}

/* end toolbar*/
.flexigrid div.hDiv {
	background: none #F5F5F5;
	line-height: 11px;
}

.flexigrid div.hDiv table {
	border-right: 1px solid #fff;
	margin: 0;
	width: auto;
}

.flexigrid div.iDiv input, .flexigrid div.iDiv select, .flexigrid div.iDiv textarea {
	font: inherit;
}

.flexigrid div.bDiv {
	margin: 0 1px 1px 1px;
	border: none;
}

.flexigrid div.bDiv table {
	width: auto;
	margin-top: 0px;
}

.flexigrid div.hDiv th,.flexigrid  div.bDiv td
	/* common cell properties*/ {
	vertical-align: middle !important;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 1em;
}

div.colCopy {
	font: inherit;
}

.flexigrid div.hDiv th.sorted {
	background: none #E3E3E3;
}

.flexigrid div.bDiv td {
	cursor: pointer;
}

.flexigrid div.bDiv td div {
	padding-bottom: 0;
	padding-top: 0;
}

.flexigrid tr.erow td {
	background: #DEDCDA;
	border-bottom: 1px solid #E7E7E7;
}

.flexigrid div.bDiv tr.trSelected:hover td, .flexigrid div.bDiv tr.trSelected:hover td.sorted, .flexigrid div.bDiv tr.trOver.trSelected td.sorted, .flexigrid div.bDiv tr.trOver.trSelected td, .flexigrid tr.trSelected td.sorted, .flexigrid tr.trSelected td {
	background: none #D9EBF5;
}

/* novstripe adjustments */
.flexigrid.novstripe .bDiv table {
	width: auto;
}

/* end novstripe */
.flexigrid div.pDiv {
	background: none #DAE5E3;
}

/* Checkbox in grid */
.gridSelect {
	padding 0 0 0 0;
	margin: 0px 0px 0px 0px;	
}

/* loading indicadtor */
.datatable-loading {
	margin-bottom: -36px;
	position: relative;
	text-align: center;
	top: 160px;
	z-index: 2;
}

/* no elements to display message */
.nomsg {
	 text-align: center;
	 margin-top: 90px;
	 font-size: 2em;
}

.flexigrid .pViewRecord {
	background: url(../images/icons/enabled/zoom.png) no-repeat;
	margin: 0;
	padding: 0;	
}

.flexigrid .pSearch {
	background: url(../images/icons/enabled/search.png) no-repeat;
}

.flexigrid .pFirst {
	background: url(../images/icons/enabled/first.png) no-repeat center;
}

.flexigrid .pPrev {
	background: url(../images/icons/enabled/back.png) no-repeat center;
}

.flexigrid .pNext {
	background: url(../images/icons/enabled/forward.png) no-repeat center;
}

.flexigrid .pLast {
	background: url(../images/icons/enabled/last.png) no-repeat center;
}

.flexigrid .pReload {
	background: url(../images/icons/enabled/refresh.png) no-repeat center;
}

.flexigrid .pReload.loading {
	background: url(../images/icons/enabled/refresh.png) no-repeat center;
}

.flexigrid .mTop {
	background: url(../images/icons/enabled/top.png) no-repeat center;
}

.flexigrid .mUp {
	background: url(../images/icons/enabled/up.png) no-repeat center;
}